body {
    font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
    background-color: darkgray;
    color: #fff;
    margin: 0px;
    overflow: hidden;
}
#info {
    color: #fff;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
}
#info a, .button { color: #f00; text-decoration: underline; cursor: pointer }

#buttons {
    color:white;
    position:absolute;
    top:20px;
    right:10px;
    padding:20px;
    border-radius: 10px;
    border:1px solid #444444;
    background-color: #555555;
    font-size: 8px;
}
#buttons div{
    margin-top:20px;
}
#face-buttons-table {
    width: 120px;
    height: 120px;
    background: url('assets/images/facets_120.png') no-repeat top left;
}