body {
    font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
    background-color: darkgray;
    color: #fff;
    margin: 0px;
    overflow: hidden;
}
#info {
    color: #fff;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
}
#info a, .button { color: #f00; text-decoration: underline; cursor: pointer }

#buttons {
    color:white;
    position:absolute;
    top:20px;
    right:20px;
    width: 140px;
    padding:20px;
    border-radius: 10px;
    border:1px solid #444444;
    background-color: #555555;
    font-size: 8px;
}
.buttons-header {
    border-bottom: 1px solid gray;
    cursor:pointer;
    margin-top: 20px;
}
#face-buttons div {
    margin-top: 0;
}

#face-buttons-table {
    width: 120px;
    height: 120px;
    background: url('assets/images/facets_120.png') no-repeat top left;
}

#advanced-toggler-buttons A {
    color:white;
    text-decoration: none;
    border-radius:6px;
    font-size:8px;
    padding: 4px;
    margin-top: 4px;
    margin-right: 4px;
    line-height: 20px;
    background-color: gray;
}